#mainbg {
    position: static;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 5px;
}
body {
    
}
#links {
    text-align: center;
    background-color: black;
    padding: 15px;
}
.link {
    padding: 8px;
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 23px;
    transition: background-color 0.5s, color 0.5s;
}
.link:hover {
    background-color: #ffff00;
    color: black;
}
h1 {
    padding: 10px;
    margin: 5px;
}
body {
    align-items: center;
}
footer {
    text-align: center;
    padding: 3px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    color: #a8a8a8;
}
.credit {
    font-size: 10px;
}
.Seitentitel {
    text-decoration: underline;
}
.Erwähnung {
    font-size: 13px;
}
.Name {
    font-size: 50px;
}
.Artikel {
    width: 96%;
    background-color: black; 
    padding: 5px;
    margin: 10px;
    margin-top; 15px;
    transition: width 0.5s, background-color 0.5s;
}
.Artikel:hover {
    width: 105%;
    text-decoration: underline;
    background-color: #ffff00;
}
a {
    text-decoration: none;
    color: black;
}
article {
    padding: 3px;
    margin: 5px;
    margin-top: 25px;
    border: 2px solid black;
}
.ArtTitle {
    margin: 5px;
}
#autname {
    color: darkgray;
    margin: 6px;
}
#arttext {
    margin: 5px;
}
#home {
    
}
#one {
    text-decoration: underline;
    margin-top: 30px;
}
.art {
    color: white;
    transition: color 0.5s;
}
.art:hover {
    color: black;
}